.container {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 80%;
    margin: 0 auto;
}

.controls {
    padding: 5px;
    background-color: #db978c;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dropDown {
    height: 60%;
}

.buildControls {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.runControls {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    height: 60%;
    width: 55px;
    margin: 2%;
    border: none;
    cursor: pointer;
}

.button:hover {
    box-shadow: #8f8f8f 2px 3px;
}

.activeButton {
    border: white 10px;
    border-radius: 3px;
}

#start {
    background-color: #00db04;
}

#stop {
    background-color: red;
}

#wall {
    background-color: darkblue;
}

#startRunning {
    height: 60%;
}

.grid {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
}

.row {
    display: flex;
    flex-flow: row;
}

.cell {
    border: #000000 2px solid;
    height: 50px;
    width: 50px;
    margin: 2px;
}
.startingSpace {
    background-color: #00db04;
}

.endingSpace {
    background-color: red;
}

.walls {
    background-color: darkblue;
}

.traveled {
    background-color: orange;
}

.selected {
    border: white 5px solid;
    border-radius: 5px;
}

.selectStart:hover {
    background-color: #00db04;
    cursor: pointer;
}
.selectEnd:hover {
    background-color: red;
    cursor: pointer;
}
.selectWall:hover {
    background-color: darkblue;
    cursor: pointer;
}